################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KolmeoAPI/.vs/KolmeoAPI/DesignTimeBuild
/KolmeoAPI/.vs/KolmeoAPI/v16
